employee.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://soapws.com/entity" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soapws.com/entity" targetNamespace="http://soapws.com/entity">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soapws.com/entity">
            <xs:element name="getEmployeeByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeByIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employee" type="tns:employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllEmployeeRequest"><xs:complexType></xs:complexType></xs:element>
            <xs:element name="getAllEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="employee" type="tns:employee"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="employee">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="secondName" type="xs:string"/>
                    <xs:element name="lastName" type="xs:string"/>
                    <xs:element name="manager" type="xs:string"/>
                    <xs:element name="department" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmployeeByIdResponse">
        <wsdl:part element="tns:getEmployeeByIdResponse" name="getEmployeeByIdResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllEmployeeResponse">
        <wsdl:part element="tns:getAllEmployeeResponse" name="getAllEmployeeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeByIdRequest">
        <wsdl:part element="tns:getEmployeeByIdRequest" name="getEmployeeByIdRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllEmployeeRequest">
        <wsdl:part element="tns:getAllEmployeeRequest" name="getAllEmployeeRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="EmployeesPort">
        <wsdl:operation name="getEmployeeById">
            <wsdl:input message="tns:getEmployeeByIdRequest" name="getEmployeeByIdRequest"></wsdl:input>
            <wsdl:output message="tns:getEmployeeByIdResponse" name="getEmployeeByIdResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <wsdl:input message="tns:getAllEmployeeRequest" name="getAllEmployeeRequest"></wsdl:input>
            <wsdl:output message="tns:getAllEmployeeResponse" name="getAllEmployeeResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="EmployeesPortSoap11" type="tns:EmployeesPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployeeById">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmployeeByIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getEmployeeByIdResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="getAllEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getAllEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="EmployeesPortService">
        <wsdl:port binding="tns:EmployeesPortSoap11" name="EmployeesPortSoap11">
            <soap:address location="http://localhost:8081/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>